{% extends "base.html" %}
{% block content %}

<h2 class="mb-4 fw-bold">Appointment List</h2>

<a href="{% url 'hospitalinfo:add_appointment' %}" class="btn btn-success mb-3">
    Add Appointment
</a>

<table class="table table-bordered table-striped">
    <thead class="table-primary">
        <tr>
            <th>ID</th>
            <th>Patient</th>
            <th>Doctor</th>
            <th>Date</th>
            <th>Status</th>
            <th>Notes</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        {% for appointment in appointments %}
        <tr>
            <td>{{ appointment.appointmentid }}</td>
            <td>{{ appointment.patient.name }}</td>
            <td>{{ appointment.doctor.name }}</td>
            <td>{{ appointment.appointmentdate }}</td>
            <td>{{ appointment.status }}</td>
            <td>{{ appointment.notes }}</td>

            <td>
                <a href="{% url 'hospitalinfo:update_appointment' appointment.appointmentid %}"
                   class="btn btn-primary btn-sm">Update</a>

                <a href="{% url 'hospitalinfo:delete_appointment' appointment.appointmentid %}"
                   class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
